apps/xml-validation/src/components/fixture/simple/main.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="note">
    <xs:complexType>
      <xs:all>
        <xs:element name="to" type="xs:integer"/>
        <xs:element name="from" type="xs:integer"/>
        <xs:element name="body" type="xs:integer"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
